<md-dialog flex>
  <md-dialog-content>
    <div layout="column" layout-fill layout-padding layout-margin>
      <h4>Players</h4>
      <div layout="row" layout-fill layout-padding layout-align="space-between" ng-repeat="member in $ctrl.members track by $index">

        <p ng-show="member.username" style="border-left-width: 2px; border-left-style: solid;"
           ng-style="{'border-left-color': $ctrl.session.players[$index].color}">
          {{member.username}}<span ng-show="$index === $ctrl.members.own.idx"> (you)</span><br>
          <small ng-show="$ctrl.stat[$index] !== 0">won {{$ctrl.stat[$index]}} games</small>
        </p>
        <md-input-container flex ng-hide="member.username">
          <label>2<sup>nd</sup> player's Type</label>
          <md-select ng-model="member.type" ng-disabled="!$ctrl.hasAi">
            <md-option value="AI">
              AI
            </md-option>
            <md-option value="Human">
              Human
            </md-option>
          </md-select>
        </md-input-container>

        <md-switch ng-class="{'md-primary': $index === $ctrl.members.own.idx}" ng-model="member.ready" ng-disabled="$index !== $ctrl.members.own.idx"
         ng-change="$ctrl.setReady(member.ready)">
          <div style="width:68px;text-align:end;">
            <span ng-hide="member.ready">not</span> ready
          </div>
        </md-switch>
      </div>
      <div layout="column" layout-fill ng-show="$ctrl.members[1].type === 'Human' && !$ctrl.members[1].username">
        <div>Tell a friend to join at this address:</div>
        <md-input-container flex>
          <input disabled ng-model="$ctrl.address">
        </md-input-container>
      </div>
    </div>
  </md-dialog-content>
</md-dialog>
