<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <base href="/">

    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <style>
        [ng-cloak] {
            display: none !important;
        }
    </style>
</head>
<body layout layout-fill ng-cloak>

<ng-view layout layout-fill></ng-view>

<% if (typeof __flash !== 'undefined') { %>
<script>__flash = <%- __flash %>;</script>
<% } %>

<% if (env === 'production') { %>
    <script src="main.min.js"></script>
<% }  else { %>
    <!--<md-whiteframe draggable class="md-whiteframe-z3" style="position: absolute; bottom: 15px; left: 15px;" layout="column" layout-padding>-->
        <!--<io-monitor></io-monitor>-->
    <!--</md-whiteframe>-->
    <script src="jspm_packages/system.js"></script>
    <script src="config.js"></script>
    <script>
        System.import('index');
    </script>
<% } %>
</body>
</html>
