<md-whiteframe style="position: relative" class="md-whiteframe-3dp ticTacToe-board" layout="column" layout-align="center center">
  <span ng-repeat="row in $ctrl.game.board track by $index" ng-init="rowIndex = $index" layout="row">
    <cell ng-repeat="col in row track by $index" x="{{rowIndex}}" y="{{$index}}"></cell>
  </span>
  <winner-line ng-if="$ctrl.game.isEnded && $ctrl.game.outcome !== 'tie'"
               line="{{::$ctrl.game.outcome.line}}"
               color="{{::$ctrl.players[$ctrl.game.currentPlayerIdx].color}}">
  </winner-line>
</md-whiteframe>
